#div1{
  background-color:#383838;
   border: 5px solid #383838;
    width: 100.78%;
    height: 30px;
  position: relative;
  top: -27px;
    margin-left: -13px;
 }

#img2{
  width: 35px;
    height: 30px;
    margin-left: 110px;
  border-radius:15px;
  margin-top: 3px;
 
}  
#txt1{
    font-family: Trattatello, fantasy;
  margin-left: 150px;
}
#txt11{
  margin-top:-22px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  width: 101%;
  margin-left: -8px;
  margin-top: -27px;
  position: -webkit-sticky;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #63b8e8;
  margin-left:150px; 
}
.fs1{
  background:transparent;
  margin:auto;
  width:50%;
  
}

body{
  background:url(./../img/2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;

}

input[type=text], input[type=password],input[type=email],input[type=tel] {
  width: 50%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white ;
}
input[type=text]:focus, input[type=password],input[type=email],input[type=tel]:focus {
  outline: none;
}
/* Set a style for all buttons */
button {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}


/*button:hover {
  opacity:1;
}*/

/* Extra styles for the cancel button */
.annulbtn {
  margin-right:10%;
  padding: 14px 20px;
  background-color: #f44336
 }
/* Float cancel and signup buttons and add an equal width */
.annulbtn, .envoyerbtn {
  float: left;
  width: 20%;
  margin-left:30%;
}
/* Change styles for cancel button and signup button on extra small screens */
/*@media screen and (max-width: 300px) {
  .annulbtn, .envoyerbtn {
     width: 100%;
  }
}
*/


.right {

margin-left:15%;
font-size:20px;
  font-weight:400;
  line-height:24px;
  color:#000000;
justify-content: space-between;
}




.box select {
 
   position: relative;
  width: auto;
  margin:0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 15px;
  color: #60666d;
   border-radius: 2px;
    cursor: pointer;

}


[required] {
   border: 10px dotted orange;
}
