#div1{
  background-color:#383838;
   border: 5px solid #383838;
    width: 100.78%;
    height: 50px;
  position: relative;
  top: -8px;
    margin-left: -13px;
 }
 #div222{

    padding: 20px 18px;
    height: auto;
    margin-top: 39px;
    border: 2px solid gray;
    border-radius: 10px;
	width : 75%;
}

 #div2{
	
	margin-left: 80%;
    margin-top: -5px;
	border: 5px solid gray;
	background-color: #d5d5d5;
	border-radius:10px;
	width: 149px;
	opacity:0.7;
	padding: 5;
	
}
.imggg{
	    width: 20px;
}
#leftbox {
padding-left: 80px;



float:left;  
width:50%; 

 } 

#rightbox{ 
float:right; 
width:35%; 
height: 300px

} 
.pe{
	color: #ffffff;
    font-size: 16px;
    margin: 27px 0 0 0;
    font-weight: 100;
}
#mg2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.sansserif {
  

    color: #515A5A;
    front-size:40px; 

  font-family: Arial, Helvetica, sans-serif;
}
h2{
    color:   #CB4335;

}

.center {
  margin: auto;
  width: 95%;
  padding: 10px;
}

.center2 {
  margin: auto;
  

padding-left:200px;
padding-top:100px;
}


#div5{

	background-image:url(img7.jpg);
    border: 5px solid #383838;
    width: 101%;
    height: auto;
    position: relative;
    top: 18%;
    margin-left: -13px;

}


img{
  border-radius:15px;
}
#img6{
  width: 159px;
    height: 67px;
  
}
.p{
  font-family: monospace;
  font-size:16px;
  margin-top: -32px;
  color:white;
}

#idn{
  color:red;
}#idn2{
  color:blue;
}

#txt5{
  font-size: 15px;
    line-height: 1.6;
    margin-top: 29px;
    color: #b5b5b5;
    padding-right: 15px;
  
}





.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}




#txt11{
  margin-top:-22px;
  margin-left: 88px;
  
}
#img2{
  width: 35px;
    height: 30px;
    margin-left: 50px;
  border-radius:15px;
  margin-top: 3px;
  
  
}

ul#css3menu1,ul#css3menu1 ul {
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 100.2%;
    margin-left: 0px;
    margin-top: -7px;
    position: -webkit-sticky;
    position: sticky;
}
ul#css3menu2,ul#css3menu2 ul {
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  margin-left: -17px;
  margin-top: -20px;
  position: -webkit-sticky;
  position: sticky;
}
@media  (min-width: 1300px)
{
ul#css3menu2,ul#css3menu2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  width: 103%;
  margin-left: -17px;
  margin-top: -20px;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 10px;
}
}
li#css3menu2,ul#css3menu2 li {
  float: left;
}li#css3menu1,ul#css3menu1 li {
  float: left;
}

li a {
  display: block;
  color: #000;
  padding: 14px 16px;
  text-decoration: none;
}

li a #css3menu2,ul#css3menu2  li a.active {
  background-color: #383838;
  color: white;
}
li a.active {
  background-color: #63b8e8;
  color: white;
}

li a:hover:not(.active) {
  background-color: #ddd;
  color: white;
}


address{
  margin-top: -2px;
}
span{
  color:blue;
}
/////////////////////////////////////////////////////

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 104%;
  margin-left: -15px;
}

@media  (min-width: 1300px)
{
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: -15px;
}
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #63b8e8;
  color: white;
}


.button2 {
  background-color: #179430;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button4 {
  background-color: #db3c3c;
  border: none;
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}