*{
	box-sizing:border-box;
	margin:0;
 
}
#div1{
  background-color:#383838;
   border: 5px solid #383838;
    width: 101%;
    height: 60px;
  position: relative;
  top: -8px;
    margin-left: -13px;
 }
 .imggg{
	   width: 17px;
	   margin-top: 13px;
}
#div2{
	
	margin-left: 80%;
	border: 5px solid gray;
	background-color: #d5d5d5;
	border-radius:10px;
	/*width: 25%;*/
	opacity:0.7;
	padding: 5;
	max-width: 20%;
	
}
#img2{
  width: 35px;
    height: 30px;
    margin-left: 110px;
  border-radius:15px;
  margin-top: 3px;
 
}  
#txt1{
    font-family: Trattatello, fantasy;
  margin-left: 150px;
}
#txt11{
  margin-top:-22px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  width: 100.60%;
  margin-left: -8px;
  margin-top: -8px;
  position: -webkit-sticky;
  position: sticky;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #63b8e8;
  margin-left:150px; 
}
#div5{

	background-image:url(../img/img7.jpg);
    border: 5px solid #383838;
    width: 101%;
    height: auto;
    position: relative;
    margin-top: 70%;
    margin-left: -11px;
    top: 8px;

}
#img6{
	width: 159px;
    height: 67px;
	
}
.p{
	font-family: monospace;
	font-size:16px;
	margin-top: -32px;
	color:white;
}
.pe{
	color: #ffffff;
    font-size: 16px;
    margin: 27px 0 0 0;
    font-weight: 100;
}

#txt5{
	font-size: 15px;
    line-height: 1.6;
    margin-top: 29px;
    color: #b5b5b5;
    padding-right: 15px;
	
}





#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #63b8e8;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  opacity: 0.8;
}

#myBtn:hover {
  background-color: #555;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
  background: #3B5998;
  color: white;
  text-align: center;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}
.container{
	max-width:1140px;
	margin:auto;
	
}
.row{
	display:flex;
	flex-wrap:wrap;
	
	
}
.about-me{
    min-height: 100vh;
	background-size:cover;
	background-position:center;
	padding:100px 15px;
	position:absolute;
	left:0px;
	right:0px;
	background-color:#ffffff;
	margin-top:-20px;
	
}
.about-me .section-title{
	flex:0 0 100%;
	max-width: 100%;
	margin-bottom:40px;
	
	
}
.about-me .section-title h1{
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight:700;
	color:#000000;
	margin:0 0 5px;
	position:relative;

}
.about-me .section-title h1:before{
	content:'';
	left:0;
	position:absolute;
	height:2px;
	right:30%;
	background-color:#febd01;
	bottom:0px;
}
.text-uppercase{
	text-transform: uppercase!important;
}
.about-me .section-title p.small{
	display: block;
	font-size:14px;
	color:#838383;
	font-weight:400;
	letter-spacing:2px;
}
.about-me .about-content{
	right:50px;
}
.about-me .about-content .img{
	flex:0 0 33.33%;
	max-width:33.33%;
	
}
.about-me .about-content .img img{
	width:70%;
	display:block;
	padding-right:30px;
	margin-left:100px;
	
}	
.about-me .about-content .text{
	
	flex:0 0 66.66%;
	max-width:66.66%;
	padding-left:0px;
	margin-top:30px;
}
.about-me .about-content .text h4{
	font-size:25px;
	font-weight:600;
	margin:0 0 5px;
	color:#000000;
}
.about-me .about-content .text h6{
	font-size:15px;
	font-weight:500;
	margin:0 0 15px;
	color:#000000;
}
.about-me .about-content .text h6 span{
	color:#febd01;
}
.about-me .about-content .text p{
	font-size:15px;
	font-weight:400;
	line-height:24px;
	color:#838383;
	margin:0 0 20px;
}
.about-me .about-content .text .info{
	
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin-top:10px;
	
}
.about-me .about-content .text .info .liste{
	
	flex:0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
	margin-top:50px;
	display:flex;
	flex-wrap:wrap;
	border-bottom:1px solid #dee2e6;
	padding-bottom:10px;
}

.about-me .about-content .text .info .liste label{
	padding-right:10px;
	color:#000000;
	font-weight:600;
	font-size:20px;
}

.about-me .about-content .text .info .liste p{
	margin:0px;
	margin-top: -1px;
	font-size:20px;
}
 

 
.btn-modifier{
 padding: 10px 30px;
 border: none;
 background-color: #27ae60;
 color: #fff;
  border-radius:10px;
  /*float: left;*/
 /* width: 50%;*/
  margin-left: -5%;
  margin-top: 50%;
}
